Django==5.2.15
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9.12
python-dotenv==1.2.2
Pillow==12.2.0
boto3==1.43.19
django-storages==1.14.6
openai==2.6.1
httpx==0.28.1
requests==2.33.0
gunicorn==23.0.0
whitenoise==6.9.0
africastalking==1.2.7
